<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>阿里法律 - 关于我们 - 服务协议</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="../img/favicon.ico" >
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/iconfont.css" rel="stylesheet">
    <link href="../css/swiper.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

</head>
<body>
<header>
    <div><script class="top" type="text/html" src="../tmpl/top.html"></script></div>
    <div><script class="header" type="text/html" src="../tmpl/header.html"></script></div>
</header>
<div class="ui-content ui-about-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center ui-padding-b-50">
                <div class="ui-size-36 ui-color-white ui-bold">法律问题 一站搞定</div>
            </div>
            <div class="ui-introduce-list">
                <div class="col-xs-2">
                    <a href="">
                        <div class="ui-introduce text-center">
                            <i class="ui-icon-czflfg"></i>
                            <div>免费法律咨询</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="">
                        <div class="ui-introduce text-center">
                            <i class="ui-icon-zlsdgs"></i>
                            <div>找律师打官司</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="">
                        <div class="ui-introduce text-center">
                            <i class="ui-icon-fbjpay"></i>
                            <div>发布竞拍案源</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="">
                        <div class="ui-introduce text-center">
                            <i class="ui-icon-czflfg"></i>
                            <div>查找法律法规</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="">
                        <div class="ui-introduce text-center">
                            <i class="ui-icon-flwszz"></i>
                            <div>法律文书制作</div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="">
                        <div class="ui-introduce text-center">
                            <i class="ui-icon-fxzjjr"></i>
                            <div>法学专家加入</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui-content ui-padding-b-40">
    <div class="container ">
        <div class="row">
            <div class="col-xs-12">
                <dl class="ui-breadcrumb ui-padding-tb-15">
                    <dt>当前位置：</dt>
                    <dd><a href="index.html">首页</a></dd>
                    <dd>关于我们</dd>
                </dl>
            </div>
        </div>

        <div class="ui-padding-b-no">
            <div class="row">
                <div class="col-xs-3">
                    <div class="ui-about-nav">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"><a href="about_info.html"><i class="iconfont icon-user"></i>网站简介</a></li>
                            <li role="presentation"><a href="about_service.html"><i class="iconfont icon-hudiejie"></i>服务介绍</a></li>
                            <li role="presentation" class="active"><a href="javascript:void(0)"><i class="iconfont icon-wenzhang"></i>服务协议</a></li>
                            <li role="presentation"><a href="about_payway.html"><i class="iconfont icon-qian"></i>付款方式</a></li>
                            <li role="presentation"><a href="about_cert.html"><i class="iconfont icon-xunzhang"></i>资质证明</a></li>
                            <li role="presentation"><a href="about_vipintroduce.html"><i class="iconfont icon-zhuanshi"></i>会员介绍</a></li>
                            <li role="presentation"><a href="about_contact.html"><i class="iconfont icon-dingwei"></i>联系方式</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="ui-abouttext">
                        <div class="ui-abouttext-title">服务协议<a class="ui-right ui-size-14 ui-color-blue" id="download_btn" target="_blank">下载协议</a></div>
                        <div class="ui-abouttext-content">
                            <p class="text-center ui-size-18 ui-color-darkgray">
                                平台服务协议
                                （平台注册协议）
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">“</span><span style="font-size:11px;font-family:宋体;color:#313131">阿里法律网”由阿里法律服务有限公司携手慧力律师事务所投巨资打造并运营的网络服务平台，域名为:阿里法律网（</span><a href="http://www.alifalv.cn/"><span style="font-size:11px;font-family:宋体;color:black">www.alifalv.cn</span></a><span style="font-size:11px;font-family:宋体;color:#313131">），旨在通过网络为老百姓提供免费的法律法规查询、免费的工商资料、组织机构代码查询、免费的诉讼费计算、免费的诉讼模板等网络服务，并通过网络综合各种法律人士的力量，为老百姓提供免费或者极少费用的法律咨询、以低至直接聘请律师几十分之一的价格为老百姓提供法律诉讼类的服务。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;</span><span style="font-size:11px;font-family:宋体;color:#313131">在使用阿里法律网各项服务前，请您务必仔细阅读并透彻理解本协议。您可以选择不使用阿里法律网服务，但如果您使用阿里法律网服务即视为您认可了本服务协议的所有内容。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;</span><span style="font-size:11px;font-family:宋体;color:#313131">根据中华人民共和国侵权责任法的规定，他人利用本网站发布侵权信息时，本网站在知道后及时采取措施的，将不承担法律责任。任何单位或个人认为阿里法律网中的内容可能涉嫌侵犯其合法权益，应该及时书面告知阿里法律网并提供相关的证据、联系方式及说明，阿里法律网在收到上述法律文件后，将会尽快审查并告知审查结果。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;</span><span style="font-size:11px;font-family:宋体;color:#313131">阿里法律网转载的文章或者公开信息，并不意味着阿里法律网认可该文章和信息的内容和真实性。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">一、知识产权声明</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;</span><span style="font-size:11px;font-family:宋体;color:#313131">阿里法律网拥有阿里法律网网站内所有信息内容、使用技术、设计样式、设计程序的知识产权，任何为商业目的复制和传播本网站内信息的行为都可能构成对本网站知识产权的侵犯，本网站将依法维护自身的权利。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">阿里法律网的软件已经获得国家版权著的软件著作权，阿里法律的标识正在申请注册商标。未经阿里法律网许可，任何人不得擅自使用。否则，阿里法律网将依法追究法律责任。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;</span><span style="font-size:11px;font-family:宋体;color:#313131">二、关于隐私权的规定</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;1</span><span style="font-size:11px;font-family:宋体;color:#313131">、阿里法律网尊重并保护所有使用阿里法律网用户的个人隐私权。主要包括您在阿里法律网提供的银行账户、户名、您的IP地址、浏览器的类型、访问时间、软硬件特征信息及您需求的网页记录等数据。阿里法律网不会向第三方(与阿里法律网存在合作关系的关联公司除外)提供、分享您的个人信息。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;2</span><span style="font-size:11px;font-family:宋体;color:#313131">、您的注册信息中除密码、银行账户外的其他信息，在您注册时视为您许可在本网站向所有会员公开，本网站既不对其真实性进行审查和保证，也不对其进行隐私权的保护。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;3</span><span style="font-size:11px;font-family:宋体;color:#313131">、您在使用阿里法律网进行交易的有关数据、您的信用评价、阿里法律网因您违法或违约而对您采取的处理决定，均为本网站的公开信息，不是隐私权的保护范围。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;4</span><span style="font-size:11px;font-family:宋体;color:#313131">、阿里法律网不允许任何第三方以任何手段收集、编辑、出售或者无偿传播您的个人信息，任何阿里法律网用户如从事上述活动，请受害者及时书面告知阿里法律网并提供相关证据，经本网站审查属实后，或者本网站自行发现这种侵权情况时，网站将有权立即终止与侵权用户的服务协议。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;5</span><span style="font-size:11px;font-family:宋体;color:#313131">、如不属于阿里法律网网站用户的第三者利用您在本网站的信息侵害您的权益，因本网站无权对非本网站用户采取措施，请您及时依法维护自己的权利，本网站将给予必要的配合。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;6</span><span style="font-size:11px;font-family:宋体;color:#313131">、为了更好的为您服务或者保护其他阿里法律网用户的合法权益、预防、发现、调查欺诈、侵权行为和违反与阿里法律网协议的违约行为，阿里法律网有权通过使用您提供的个人信息，向您发送相关信息，采取保护您的隐私的措施，进行相关的调查。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;7</span><span style="font-size:11px;font-family:宋体;color:#313131">、如果您就您的隐私和信息向阿里法律网投诉其他侵权人，阿里法律网有权将您与投诉相关的信息及权利证明向被投诉人披露，以便维护您的权益和解决纠纷。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;8</span><span style="font-size:11px;font-family:宋体;color:#313131">、如果您被投诉或者违反国家法律、法规、阿里法律网的服务协议和相关规则，阿里法律网有权向相关方披露您的信息，但该披露以保护合法权益者的利益为限。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;9</span><span style="font-size:11px;font-family:宋体;color:#313131">、在阿里法律网的咨询者需要与咨询师交流或交易时，作为交易双方的咨询者和咨询师均为交流或交易需要而有权知道对方相关的信息，知道对方交易信息的一方均负有义务不向第三方泄露对方的信息。如果您侵权泄露他人的信息，在受害方能证实侵权的情况下，阿里法律网有权向受损害方和国家相关部门披露您的信息。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;10</span><span style="font-size:11px;font-family:宋体;color:#313131">、为了实现您登陆本网站的目的，或者阿里法律网出于与您交流或者交易的需要，阿里法律网有权在合理限度内使用您的信息。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;11</span><span style="font-size:11px;font-family:宋体;color:#313131">、请您妥善保护好您的账户、密码、银行账户信息，阿里法律网也将采取技术措施，防止您的信息被泄露，但您认可因当前技术和现实的限制，没有百分百绝对安全的技术措施，在阿里法律网没有故意行为时，不对此承担法律责任。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;12</span><span style="font-size:11px;font-family:宋体;color:#313131">、如您发现自己的个人信息泄密，尤其是您的账户及密码发生泄露，请您立即采取措施修改相应信息。</span>
                            </p>
                            <p style="text-indent:32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;13</span><span style="font-size:11px;font-family:宋体;color:#313131">、</span><span style="font-size:11px;font-family:宋体;color:#313131">因国家法律、法规对本协议中的相关内容有明确规定或者对信息披露、隐私保护有要求的，</span><span style="font-size:11px;font-family:宋体;color:#313131">阿里法律网和所有用户均有义务执行法律、法规的规定，依法配合相关部门的查询、调处。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;14</span><span style="font-size:11px;font-family:宋体;color:#313131">、您在阿里法律网上发布的相关信息和服务内容（包括但不限于名称、联络信息，您的简历、相关图片、视讯等）均由您自行提供，您依法应对其提供的任何信息承担全部责任。</span>
                            </p>
                            <p>
                                <strong><span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;</span></strong><span style="font-size: 11px;font-family:宋体;color:#313131">&nbsp; </span><span style="font-size:11px;font-family:宋体;color:#313131">三、注册与使用</span>
                            </p>
                            <p>
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;&nbsp; 1</span><span style="font-size:11px;font-family:宋体;color:#313131">、阿里法律网的所有注册用户必须是具有完全民事权利能力和民事行为能力的自然人或者法人，您进行注册就视同您是完全民事权利能力和民事行为能力的自然人或者法人。如果您隐瞒事实，欺骗阿里法律网注册，您的监护人将依法承担您在使用阿里法律网过程中的责任。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;2</span><span style="font-size:11px;font-family:宋体;color:#313131">、如果您注册为咨询师账户，则您除了具备完全的民事权利能力和民事行为能力外，您还应具备相应法律知识水平、身份和资格。若您不具备相应知识水平、身份和资格，阿里法律网有权根据咨询者的申诉，将网站尚在代管的咨询者支付给您的所有费用无条件退还咨询者，而且由于您的咨询给咨询者造成的一切损失和后果将由您本人承担，与阿里法律网无关。基于交易安全的考虑，同一用户在阿里法律网仅能开设一个咨询师账户，阿里法律网可关闭您在阿里法律网网同时开设的其他咨询师账户。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">阿里法律网的咨询师分为认证咨询师和非认证咨询师，认证咨询师系网站对其资质进行了形式上的审核（但鉴于资质的多样性和不可查询性，本网站无法对咨询师伪造资质的犯罪行为进行判断），只有认证咨询师才能通过本平台提供有偿法律服务。所有认证咨询师在申请认证时即认可为本公司的非全日制工作人员，可以按劳动量获得报酬，通过本公司平台提供服务后，享有根据本平台的薪酬规则从本公司获得报酬的权利。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;&nbsp;&nbsp; 3</span><span style="font-size:11px;font-family:宋体;color:#313131">、您在阿里法律网上所发布的信息，您必须拥有相应、合法的权利，不得违反国家法律、法规规定或者侵害他人权利，否则，阿里法律网可对您发布的信息依法或依本协议进行删除或屏蔽。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;&nbsp; 4</span><span style="font-size:11px;font-family:宋体;color:#313131">、您发布的信息不应包含以下内容：</span>
                            </p>
                            <p>
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;&nbsp; </span><span style="font-size:11px;font-family:宋体;color:#313131">（1）违反国家法律法规禁止性规定；</span>
                            </p>
                            <p>
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;&nbsp; </span><span style="font-size:11px;font-family:宋体;color:#313131">（2）封建迷信、淫秽、色情、赌博、暴力、恐怖或者教唆犯罪的；</span>
                            </p>
                            <p>
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;&nbsp; </span><span style="font-size:11px;font-family:宋体;color:#313131">（3）欺诈、虚假、不准确或存在误导性的；</span>
                            </p>
                            <p>
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;&nbsp; </span><span style="font-size:11px;font-family:宋体;color:#313131">（4）侵犯他人知识产权或涉及第三方商业秘密及其他专有权利的；</span>
                            </p>
                            <p>
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;&nbsp; </span><span style="font-size:11px;font-family:宋体;color:#313131">（5）侮辱、诽谤、恐吓、涉及他人隐私等侵害他人合法权益的；</span>
                            </p>
                            <p>
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;&nbsp; </span><span style="font-size:11px;font-family:宋体;color:#313131">（6）存在可能破坏、篡改、删除、影响阿里法律网任何系统正常运行或未经授权秘密获取阿里法律网及其他用户的数据、个人资料的病毒、木马、爬虫等恶意软件、程序代码的；</span>
                            </p>
                            <p>
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;&nbsp; </span><span style="font-size:11px;font-family:宋体;color:#313131">（7）其他违背社会公共利益或公共道德或侵害国家、集体或他人合法权益或依据阿里法律网协议、规则的规定不适合在阿里法律网上发布的。</span>
                            </p>
                            <p>
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="font-size:11px;font-family:宋体;color:#313131">您发布的信息涉及以上违法内容时，依法所有法律责任将由您自己承担，本网发现后将随时有权删除您发布的内容。</span>
                            </p>
                            <p style="text-indent: 35px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;5</span><span style="font-size:11px;font-family:宋体;color:#313131">、</span><span style="font-size:11px;font-family: 宋体;color:#313131">为方便您使用阿里法律平台的其他相关服务，您授权阿里法律网将您在账户注册和使用阿里法律网服务过程中提供、形成的信息传递给阿里法律网的关联公司平台或从阿里法律网关联公司平台获取您在注册、使用相关服务期间提供、形成的信息。</span>
                            </p>
                            <p style="text-indent: 35px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">6</span><span style="font-size:11px;font-family:宋体;color:#313131">、您有权使用您设置或确认的阿里法律网会员名及您设置的密码登录阿里法律网。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;7</span><span style="font-size:11px;font-family:宋体;color:#313131">、阿里法律网的账户涉及咨询师的资质，只能注销，不能转让。</span>
                            </p>
                            <p style="text-indent: 32px">
                                <span style="font-size:11px;font-family:宋体;color:#313131">&nbsp;8</span><span style="font-size:11px;font-family:宋体;color:#313131">、网络平台是相对非常宽松的平台，法律并未赋予阿里法律网强制要求所有用户进行实名认证的权力，但为使您更好地使用阿里法律网的各项服务，阿里法律网建议您使用真实信息，并提交相关资质和真实姓名、银行账户后申请认证，只有经过认证的咨询师才能在本平台提供有偿服务。如果因为您使用虚假信息给他人或者自己或者阿里法律网造成任何损失，均由您承担。</span>
                            </p>
                            <p>
                                <br/>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <script class="footer" type="text/html" src="../tmpl/footer.html"></script>
</footer>

<script data-main="../js/config.js" src="../js/libs/require.js"></script>
</body>
</html>