<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>阿里法律 - 广告合作</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="../img/favicon.ico" >
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/iconfont.css" rel="stylesheet">
    <link href="../css/swiper.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <div><script class="top" type="text/html" src="../tmpl/top.html"></script></div>
    <div><script class="header" type="text/html" src="../tmpl/header.html"></script></div>
</header>
<div class="ui-content ui-advert-wrapper"></div>
<div class="ui-content ui-padding-b-40">
    <div class="container">

        <div class="row">
            <div class="col-xs-12">
                <dl class="ui-breadcrumb ui-padding-tb-15">
                    <dt>当前位置：</dt>
                    <dd><a href="index.html">首页</a></dd>
                    <dd>广告合作</dd>
                </dl>
            </div>
        </div>

        <div class="ui-padding-b-no">
            <div class="row">
                <div class="col-xs-12">
                    <div class="ui-abouttext">
                        <div class="ui-abouttext-title">合作方式</div>
                        <div class="ui-abouttext-content no">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="ui-size-16 ui-color-blue ui-margin-b-20 ui-padding-r-40">
                                        全新升级集PC端 +手机网站+APP+微信服务号+法律查询软件+微信小程序，与您的团队一起共享全网营销模式。
                                    </div>
                                    <div class="ui-color-gray ui-margin-b-10 ui-size-16">1.网站内容源合作</div>
                                    <div class="ui-color-gray ui-margin-b-10 ui-size-16">2.法律数据资料库合作</div>
                                    <div class="ui-color-gray ui-margin-b-10 ui-size-16">3.优质新闻或自媒体内容合作</div>
                                    <div class="ui-color-gray ui-margin-b-10 ui-size-16">4.其他合作</div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="ui-color-gray ui-size-18 ui-margin-b-30">银行汇款网上转账</div>
                                    <table class="table table-bordered table-bordertd text-left ui-color-gray">
                                        <tr><td>开户行名称：民生银行湖南省长沙市高桥支行</td></tr>
                                        <tr><td>开户行户名：湖南阿里法律服务有限公司</td></tr>
                                        <tr><td>开户账号：697559977</td></tr>
                                    </table>
                                </div>
                                <div class="col-xs-12 ui-padding-tb-20">
                                    <hr/>
                                </div>
                                <div class="col-xs-6">
                                    <div class="ui-color-gray ui-size-18 ui-margin-b-30">网站客服</div>
                                    <div class="ui-color-gray ui-margin-b-20"><i class="iconfont icon-qq1 ui-margin-r-10"></i><span class="ui-margin-r-40">菁菁 3037196390</span>名名 2091708508</div>
                                    <div class="ui-color-gray"><i class="iconfont icon-dianhua1 ui-margin-r-10"></i><span class="ui-margin-r-40">0731—85577722</span> 0731—85580003</div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="ui-color-gray ui-size-18 ui-margin-b-30">地址信息</div>
                                    <div class="ui-color-gray ui-margin-b-20"><i class="iconfont icon-youjian ui-margin-r-10"></i><span class="ui-margin-r-40">alifalv@21cn.com</span>zixunfalv@21cn.com</div>
                                    <div class="ui-color-gray"><i class="iconfont icon-gps ui-margin-r-10"></i>湖南省长沙市芙蓉区人民东路中庭国际1305</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <script class="footer" type="text/html" src="../tmpl/footer.html" data-color="black"></script>
</footer>
<script data-main="../js/config.js" src="../js/libs/require.js"></script>
</body>
</html>