<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>阿里法律 - 找律师</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/iconfont.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <script class="top" type="text/html" src="../tmpl/top.html"></script>
        </div>
        <div>
            <script class="header" type="text/html" src="../tmpl/header.html"></script>
        </div>
    </header>

    <div class="ui-content ui-content-row">
        <div class="container">
            <div class="row" id="counselorRecommendList">
                <div class="col-xs-12">
                    <div class="ui-lawer-list ui-lawer-list-8">
                        <script id="counselorRecommendListTmpl" type="text/html">
                            {{if (getLength(data) > 0)}} {{each data value i}}
                            <a href="{{if value.userId}}home_index.html?userId={{value.userId}}{{else}}javascript:void(0);{{/if}}" target="_blank" class="ui-decoration-no ui-hover">
                                <img src="{{value.userImg | createImgUrl}}" alt="..." class="img-circle">
                                <p class="name ui-cut-1" title="{{value.userName}}">{{value.userName}}</p>
                                <p class="address ui-cut-1" title="{{value.provinceName}} {{value.cityName}}">{{value.provinceName}} {{value.cityName}}</p>
                                <p class="mobile">{{value.mobile}}</p>
                            </a>
                            {{/each}} {{else}}
                            <div class="text-center ui-color-gray">{{error || '暂无内容'}}</div>
                            {{/if}}
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <dl class="ui-breadcrumb">
                        <dt>当前位置：</dt>
                        <dd><a href="index.html">首页</a></dd>
                        <dd>咨询师列表</dd>
                    </dl>
                </div>
                <div class="col-xs-9" id="counselorList">
                    <form pagination="searchForm">
                        <div class="ui-panel">
                            <div class="ui-panel-content ui-padding-b-20">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <select id="province_select" class="form-control" name="province">
                                    <option value="">不限</option>
                                    <script id="province_tmpl" type="text/html">
                                        {{each data value i}}
                                        <option  value="{{value.provinceId}}" {{value.provinceId != selectedId ? '' : 'selected'}}>{{value.provinceName}}</option>
                                        {{/each}}
                                    </script>
                                </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="city" style="width: 92px;">
                                    <option value="">不限</option>
                                    <script id="city_tmpl" type="text/html">
                                        {{each data value i}}
                                        <option  value="{{value.cityId}}" {{value.cityId != selectedId ? '' : 'selected'}}>{{value.cityName}}</option>
                                        {{/each}}
                                    </script>
                                </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="speciality">
                                    <option value="">请选择专业领域</option>
                                    <script id="caseListTmpl" type="text/html">
                                        {{each data value i}}
                                        <option value="{{value.caseId}}" {{value.caseId != selectedId ? '' : 'selected'}}>{{value.caseName}}</option>
                                        {{/each}}
                                    </script>
                                </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="job">
                                    <option value="">请选择职业</option>
                                    <script id="jobListTmpl" type="text/html">
                                        {{each data value i}}
                                        {{if value.jobId != 9}}
                                        <option value="{{value.jobId}}" {{value.jobId != selectedId ? '' : 'selected'}}>{{value.jobName}}</option>
                                        {{/if}}
                                        {{/each}}
                                    </script>
                                </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input style="width:210px" type="text" id="conditionValue" name="name" class="form-control" placeholder="请输入律师ID或姓名">
                                            <span class="input-group-btn">
                                        <a href="javascript:void(0);" id="search_btn" class="btn btn-default ui-btn-red" pagination="searchBtn">快速搜索</a>
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 综合排名 -->
                        <div class="ui-panel">
                            <div class="ui-panel-top">
                                <label class="ui-panel-tab"><input type="radio" name="sortType" value="1" checked pagination="searchBtn"><span>综合排名</span></label>
                                <label class="ui-panel-tab"><input type="radio" name="sortType" value="2" pagination="searchBtn"><span>人气排名</span></label>
                                <label class="ui-panel-tab"><input type="radio" name="sortType" value="3" pagination="searchBtn"><span>法律水平</span></label>
                                <label class="ui-panel-tab"><input type="radio" name="sortType" value="4" pagination="searchBtn"><span>收费标准</span></label>
                                <!-- TODO 上下箭头排序 -->
                            </div>
                        </div>
                    </form>
                    <div class="ui-panel ui-margin-t-no">
                        <div class="ui-panel-content">
                            <div pagination="mask" class="ui-relative">
                                <div class="row">
                                    <script id="counselorListTmpl" type="text/html">
                                        {{if (getLength(rows) > 0)}} {{each rows value i}}
                                        <div class="col-xs-6">
                                            <div class="ui-layercard">
                                                <div class="ui-left">
                                                    <a href="home_index.html?userId={{value.userId}}" target="_blank">
                                                        <div class="ui-width-88 ui-height-106 ui-margin-b-10" style="overflow: hidden">
                                                            <img src="{{value.userImg | createImgUrl}}" alt="{{value.realName || value.userName}}" class="ui-img-height-fill">
                                                        </div>
                                                    </a>
                                                    <a href="user_separateconsult.html?userId={{value.userId}}" class="btn btn-block ui-btn-lightblue-b">马上咨询</a>
                                                </div>
                                                <div class="ui-layercard-info">
                                                    <h4 class="ui-layercard-name"><a href="home_index.html?userId={{value.userId}}" target="_blank">{{value.userName}}</a> {{if (value.is_contract == 1)}}
                                                        <i class="ui-icon ui-icon-signed ui-margin-l-5" title="签约律师"></i> {{/if}} {{if (value.isAuthentication == '2')}}
                                                        <i class="ui-icon ui-icon-certified ui-margin-l-5" title="已认证"></i> {{/if}} {{if (vipLevel == '1')}}
                                                        <i class="ui-icon ui-icon-vip-gold ui-margin-l-5" title="黄金会员"></i> {{else if (vipLevel == '2')}}
                                                        <i class="ui-icon-vip-pt ui-margin-l-5" title="白金会员"></i> {{else if (vipLevel == '3')}}
                                                        <i class="ui-icon-vip-masonry ui-margin-l-5" title="钻石会员"></i> {{/if}}
                                                    </h4>
                                                    <p class="ui-block"><span class="ui-width-50p ui-block ui-left"><i class="iconfont icon-dianhua1"></i><span class="ui-color-red ui-bold">{{value.mobile}}</span></span><span class="ui-width-50p ui-cut-1 ui-block ui-left"
                                                            title="{{value.provinceName}} {{value.cityName}}"><i class="iconfont icon-gps"></i>{{value.provinceName}} {{value.cityName}}</span></p>
                                                    <p class="ui-cut-1 ui-size-12" title="擅长：{{each value.specialityName sn i}}{{i == 0 ? '' : '，'}}{{sn.typeName}}{{/each}}">擅长： {{if(value.specialityName && value.specialityName.length > 0)}} {{each value.specialityName sn i}} {{i == 0 ? '' : '，'}}{{sn.typeName}} {{/each}} {{else}} 无 {{/if}}
                                                    </p>
                                                    <p class="ui-margin-b-8"><a href="home_index.html?userId={{value.userId}}" class="ui-color-lightblue" target="_blank">[详情]</a></p>
                                                    <div class="ui-layercard-score row">
                                                        <div class="col-xs-6">法律水平：{{value.levelScore || 0}}</div>
                                                        <div class="col-xs-6">好评：{{value.goodNum || 0}}</div>
                                                        <div class="col-xs-6">服务态度：{{value.attitudeScore || 0}}</div>
                                                        <div class="col-xs-6">解答咨询：{{value.complateAdviceNum || 0}}</div>
                                                        <div class="col-xs-6">社会资源：{{value.sourceScore || 0}}</div>
                                                        <div class="col-xs-6">接收委托：{{value.entrustNum || 0}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}} {{else}}
                                        <div class="col-xs-12">
                                            <div class="text-center ui-color-gray">暂无内容</div>
                                        </div>
                                        {{/if}}
                                    </script>
                                </div>
                            </div>
                            <nav aria-label="Page navigation" class="text-center" pagination="page"></nav>
                        </div>
                    </div>
                </div>
                <div class="col-xs-3">

                    <!-- 今日推荐 -->
                    <div class="ui-panel" id="toDayRecommendList">
                        <div class="ui-panel-top"><span class="ui-panel-title ui-color-gray">今日推荐</span><a class="ui-panel-link" href="todayrecommend.html">更多 ></a></div>
                        <div class="ui-panel-content">
                            <ul class="ui-article-list">
                                <script id="toDayRecommendListTmpl" type="text/html">
                                    {{if (getLength(rows) > 0)}} {{each rows value i}}
                                    <li><a href="{{value.columnCode | getArticleUrlByColumnCode value.articleId value.userId}}" title="{{value.title}}" class="ui-cut-1">{{value.title}}</a></li>
                                    {{/each}} {{else}}
                                    <li>
                                        <div class="text-center ui-color-gray">暂无内容</div>
                                    </li>
                                    {{/if}}
                                </script>
                            </ul>
                        </div>
                    </div>

                    <!-- 常用文书模板 -->
                    <div class="ui-panel" id="oftenDocList">
                        <div class="ui-panel-top"><span class="ui-panel-title ui-color-gray">常用文书模板</span><a class="ui-panel-link" href="lawdocmark.html">更多 ></a></div>
                        <div class="ui-panel-content">
                            <ul class="ui-article-list">
                                <script id="oftenDocListTmpl" type="text/html">
                                    {{if (getLength(rows) > 0)}} {{each rows value i}}
                                    <li><a href="doctemplateinfo.html?articleId={{value.articleId}}" title="{{value.title}}" class="ui-cut-1">{{value.title}}</a></li>
                                    {{/each}} {{else}}
                                    <li>
                                        <div class="text-center ui-color-gray">{{error || '暂无内容'}}</div>
                                    </li>
                                    {{/if}}
                                </script>
                            </ul>
                        </div>
                    </div>
                    <div class="ui-panel" id="oftenDocList">
                        <div class="ui-panel">
                            <div class="ui-panel" style="height: 294px;">
                                <script ad="1" type="text/html" src="../tmpl/ad.html"></script>
                            </div>
                        </div>
                    </div>
                    <!--<div class="ui-content-row">-->
                    <!--<img src="../img/alilaw-qrcode.png" class="img-responsive">-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!-- <div class="container">
            <div class="row">
                <div class="col-xs-9">
                    广告
                    <div class="ui-panel">
                        <script ad="1" type="text/html" src="../tmpl/ad.html"></script>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="ui-panel">
                        <script ad="1" type="text/html" src="../tmpl/ad.html"></script>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
    <footer>
        <script class="footer" type="text/html" src="../tmpl/footer.html" data-color="black"></script>
    </footer>
    <script data-main="../js/config.js" src="../js/libs/require.js"></script>
</body>

</html>