<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>阿里法律 - 找回密码</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="../img/favicon.ico" >
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/iconfont.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <div><script class="top" type="text/html" src="../tmpl/top.html"></script></div>
    <div><script class="header" type="text/html" src="../tmpl/header.html"></script></div>
</header>
<div class="ui-content ui-padding-b-40">
    <div class="container ui-padding-tb-50">
        <div class="ui-regpanel">
            <div class="row">
                <div class="col-xs-12">
                    <div class="ui-reg-result ui-padding-lr-50">
                        <ol class="ui-tabs findpwd-tabs">
                            <li class="active"><span class="num">1</span> 验证用户信息</li>
                            <li><span class="num">2</span> 设置新密码</li>
                            <li><span class="num">3</span> 完成</li>
                        </ol>
                        <ol class="findpwd-box">
                            <li class="ui-regform">
                                <form id="findpwd1_form" class="form-horizontal ui-margin-t-17" autocomplete="off">
                                    <div class="form-group">
                                        <label for="mobile" class="col-xs-offset-2 col-xs-2 control-label">手机号码：</label>
                                        <div class="col-xs-5">
                                            <input type="tel" name="mobile" class="form-control" id="mobile" placeholder="请输入手机号码" data-rule="手机号码:required;mobile">
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label for="inputPassword3" class="col-xs-offset-2 col-xs-2 control-label">验证码：</label>-->
                                        <!--<div class="col-xs-3">-->
                                            <!--<input type="password" class="form-control" id="inputPassword3" placeholder="请输入图形验证码">-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-2">-->
                                            <!--<img src="../img/validimg.png" alt="" class="img-responsive ui-width-100p">-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-2 text-left ui-height-40 ui-line-height-40">-->
                                            <!--<a href="" class="ui-color-lightblue">换一张</a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group ui-margin-b-40">
                                        <label for="code" class="col-xs-offset-2 col-xs-2 control-label">短信验证：</label>
                                        <div class="col-xs-3">
                                            <input type="text" name="code" class="form-control" id="code" placeholder="请输入验证码" data-rule="短信验证:required">
                                        </div>
                                        <div class="col-xs-2">
                                            <a id="sendsms_btn" href="javascript:void(0);" class="btn btn-block ui-btn-lightblue">点此获取</a>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-offset-4 col-xs-3">
                                            <button type="submit" class="btn btn-block ui-btn-lightblue">下一步</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-offset-4 col-xs-6 text-left">
                                            <span class="ui-color-gray">温馨提示：如果没有绑定手机号码，请直接联系客服。</span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li class="ui-regform hide">
                                <form id="findpwd2_form" class="form-horizontal ui-margin-t-17" autocomplete="off">
                                    <div class="form-group">
                                        <label for="newPassword" class="col-xs-offset-2 col-xs-2 control-label">新登录密码：</label>
                                        <div class="col-xs-5">
                                            <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="请输入新登录密码" data-rule="密码: required;password;" >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmpassword" class="col-xs-offset-2 col-xs-2 control-label">确认新登录密码：</label>
                                        <div class="col-xs-5">
                                            <input type="password" class="form-control" id="confirmpassword" placeholder="请确认新登录密码" data-rule="确认密码: required;match(newPassword);">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-offset-4 col-xs-7 text-left">
                                            <span class="ui-color-gray">密码必须为6-16位字符，可以包含数字、字母（区分大小写）、符号。</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-xs-offset-4 col-xs-3">
                                            <button type="submit" class="btn btn-block ui-btn-lightblue">确定</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                            <li class="ui-regform hide">
                                <div class="ui-reg-result ui-margin-t-17">
                                    <div class="ui-padding-b-30"><i class="img-responsive ui-icon-ok"></i><h3 class="ui-inline-block ui-color-lightblue">新密码重置成功</h3></div>
                                    <p class="ui-size-12 ui-margin-l-15 ui-color-gray">您现在可以<a href="login.html" class="ui-color-lightblue">立即登录</a>或浏览<a href="index.html" class="ui-color-lightblue">首页</a></p>
                                </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <script class="footer" type="text/html" src="../tmpl/footer.html"></script>
</footer>
<script data-main="../js/config.js" src="../js/libs/require.js"></script>
</body>
</html>