<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>阿里法律 - 我的优惠卷 - 已使用</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="../img/favicon.ico" >
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/iconfont.css" rel="stylesheet">
    <link href="../css/swiper.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/personal.css" rel="stylesheet">
</head>
<body>
<header>
    <div><script class="top" type="text/html" src="../tmpl/top.html"></script></div>
    <div><script class="user_header" type="text/html" src="../tmpl/user_header.html"></script></div>
</header>
<div class="ui-person-wrapper">
    <div><script class="user_wrapper" type="text/html" src="../tmpl/user_wrapper.html"></script></div>
</div>
<div class="ui-content ui-padding-b-40 ui-padding-t-30 ui-person-bg">
    <div class="container ">
        <div class="ui-padding-b-no">
            <div class="row">

                <div class="col-xs-3">
                    <div><script class="user_menu" type="text/html" src="../tmpl/user_menu.html"></script></div>
                </div>
                <div class="col-xs-6">
                    <div class="">

                        <ul class="nav nav-tabs ui-person-panel-top ui-bg-white">
                            <li role="presentation"><a href="personal_coupons_notused.html" >未使用（<span id="notused_count">0</span>）</a></li>
                            <li role="presentation" class="active"><a href="javascript:void(0);" >已使用（<span id="used_count">0</span>）</a></li>
                            <li role="presentation"><a href="personal_coupons_expired.html" >已过期（<span id="expired_count">0</span>）</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content ui-person-panel-content ui-margin-t-20" id="voucherList">
                            <div role="tabpanel" class="tab-pane active ui-block">
                                <div class="ui-margin-lr-15" >
                                    <div class="row">
                                        <script id="voucherListTmpl" type="text/html">
                                            {{if (getLength(rows) > 0)}}
                                            {{each rows value i}}
                                            <div class="col-xs-12 ui-padding-lr-no">
                                                <div class="ui-coupons ui-yishiyong">
                                                    <div class="ui-left ui-border-r-1 ui-height-120 text-center ui-padding-lr-20"><div class="ui-color-red ui-margin-t-30"><span class="ui-size-28 ui-bold">1</span> 张</div><div class="ui-size-12">文书制作券</div></div>
                                                    <div class="ui-inline-block ui-margin-l-15 ui-padding-tb-15 ui-left ui-height-120">
                                                        <div class="ui-margin-b-10 ui-size-16 ui-margin-t-10">{{value.voucherDesc}}</div>
                                                        <div class="ui-size-12 ui-color-gray">
                                                            <div class="ui-inline-block ui-padding-r-10">有效期至：{{value.endTime}}</div>
                                                        </div>
                                                        <div class="ui-size-12 ui-color-gray">
                                                            <div class="ui-inline-block ui-padding-r-10">使用时间：{{value.startTime}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {{/each}}
                                            {{else}}
                                            <div class="text-center ui-height-450 ui-bg-white" style="overflow: hidden;">
                                                <div class="ui-bg-box"></div>
                                                <div class="ui-color-gray">{{error || '暂无，充值白金会员就送券哦'}}</div>
                                            </div>
                                            {{/if}}
                                        </script>
                                    </div>
                                </div>
                                <nav aria-label="Page navigation" class="text-center ui-bg-white" pagination="page"></nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div><script class="user_count" type="text/html" src="../tmpl/user_count.html"></script></div>


                    <div class="ui-panel">
                        <div class="ui-panel-content ui-padding-t-10">
                            <ul class="ui-tool-list">
                                <li><a href="user_consult.html" title=""><i class="icon-mfflzx"></i><p class="ui-size-16">免费法律咨询<i class="icon-hot"></i></p><p class="ui-color-gray">有疑问？马上咨询吧</p></a></li>
                                <li><a href="user_case_entrusted.html" title=""><i class="icon-fbay"></i><p class="ui-size-16">发布案源</p><p class="ui-color-gray">我要打官司</p></a></li>
                                <li><a href="findlawyer.html" title=""><i class="icon-zls"></i><p class="ui-size-16">找律师</p><p class="ui-color-gray">含法律文书制作</p></a></li>
                            </ul>
                        </div>
                    </div>

                    <div><script class="user_reply" type="text/html" src="../tmpl/user_reply.html"></script></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <script class="footer" type="text/html" src="../tmpl/footer.html"></script>
</footer>
<script data-main="../js/config.js" src="../js/libs/require.js"></script>
</body>
</html>