<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>阿里法律 - 服务中心 - 我的咨询</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="../img/favicon.ico" >
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/iconfont.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/personal.css" rel="stylesheet">
</head>
<body>
<header>
    <div><script class="top" type="text/html" src="../tmpl/top.html"></script></div>
    <div><script class="user_header" type="text/html" src="../tmpl/user_header.html"></script></div>
</header>
<div class="ui-person-wrapper">
    <div><script class="user_wrapper" type="text/html" src="../tmpl/user_wrapper.html"></script></div>
</div>
<div class="ui-content ui-padding-b-40 ui-padding-t-30 ui-person-bg">
    <div class="container ">
        <div class="ui-padding-b-no">
            <div class="row">

                <div class="col-xs-3">
                    <div><script class="user_menu" type="text/html" src="../tmpl/user_menu.html"></script></div>
                </div>
                <div class="col-xs-6">
                    <div class="ui-bg-white">

                        <ul class="nav nav-tabs ui-person-panel-top">
                            <li role="presentation" class="active"><a href="javascript:void(0);" >我的咨询</a></li>
                            <li role="presentation"><a href="personal_caseentrust.html" >案件委托</a></li>
                            <li role="presentation"><a href="personal_order.html">我的订单</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content ui-person-panel-content ui-margin-lr-20" id="myAdviceList">
                            <div role="tabpanel" class="tab-pane active ui-block">
                                <!-- 无数据
                                <div class="text-center ui-height-340">
                                    <div class="ui-bg-box"></div>
                                    <div class="ui-color-gray">123123</div>
                                </div>
                                -->
                                <!--<ul class="ui-person-typelist ui-margin-t-13 ui-margin-b-20">-->
                                    <!--<li class="active">全部</li>-->
                                    <!--<li>待支付</li>-->
                                    <!--<li>待评价</li>-->
                                    <!--<li>退款/申诉</li>-->
                                <!--</ul>-->
                                <div class="ui-margin-lr-15 ui-margin-t-20" >
                                    <div class="row">
                                        <script id="myAdviceListTmpl" type="text/html">
                                            {{if (getLength(rows) > 0)}}
                                                {{each rows value i}}
                                                <div class="col-xs-12 ui-border-gray-1 ui-margin-b-20 ui-hover-shadow">
                                                    <div class="col-xs-5 ui-size-12 ui-color-gray ui-margin-t-20">发布时间：{{value.sendTime | subDay}}</div>
                                                    <div class="col-xs-3 ui-size-12 ui-color-gray ui-cut-1 ui-margin-t-20">分类：{{value.caseTypeName}}</div>
                                                    <div class="col-xs-3 ui-size-12 ui-color-gray ui-cut-1 ui-margin-t-20"><i class="iconfont icon-shang ui-color-pink ui-size-18 ui-padding-r-5"></i>赏金：{{value.reward}}元</div>
                                                    <div class="col-xs-1 ui-size-12 ui-color-gray ui-cut-1 ui-margin-t-20"><i class="j-delete-btn iconfont icon-shanchu ui-size-14 ui-pointer" data-adviceid="{{value.adviceId}}" title="删除"></i></div>

                                                    <div class="col-xs-12 ui-cut-1 ui-margin-t-20 ui-bold">{{value.title}}</div>
                                                    <div class="col-xs-12 ui-cut-1 ui-color-gray ui-margin-t-5 ui-size-12 ui-margin-b-20">{{value.adviceContent | removeHtmlTag}}</div>

                                                    <div class="col-xs-6 ui-size-12 ui-color-gray ui-cut-1 ui-margin-b-20 ">咨询师回复：<span class="ui-size-14 ui-bold ui-color-red">{{value.counts}}</span></div>
                                                    <div class="col-xs-6 ui-size-12 text-right ui-margin-b-20"><a href="articles_consultinfo.html?articleId={{value.adviceId}}" class="ui-color-red" target="_blank">查看详情</a></div>
                                                </div>
                                                {{/each}}
                                            {{else}}
                                            <div class="text-center ui-height-340">
                                                <div class="ui-bg-box"></div>
                                                <div class="ui-color-gray">{{error || '暂无记录'}}</div>
                                                <div class="ui-margin-t-20"><a href="user_consult.html" class="ui-color-blue ui-hover">点击发布</a></div>
                                            </div>
                                            {{/if}}
                                        </script>
                                        <!--<div class="col-xs-12 ui-border-gray-1 ui-margin-b-20">-->
                                            <!--<div class="col-xs-5 ui-size-12 ui-color-gray ui-margin-t-20">发布时间：2018-01-02 16:30</div>-->
                                            <!--<div class="col-xs-3 ui-size-12 ui-color-gray ui-cut-1 ui-margin-t-20">分类：立案问题</div>-->
                                            <!--<div class="col-xs-3 ui-size-12 ui-color-gray ui-cut-1 ui-margin-t-20"><i class="iconfont icon-shang ui-color-pink ui-size-18 ui-padding-r-5"></i>赏金：20元</div>-->
                                            <!--<div class="col-xs-1 ui-size-12 ui-color-gray ui-cut-1 ui-margin-t-20"><i class="iconfont icon-shanchu ui-size-14"></i></div>-->

                                            <!--<div class="col-xs-12 ui-cut-1 ui-margin-t-20 ui-bold">医生医生八错牙齿布擦拭的发生医生八错牙齿布擦拭的发生八错牙齿布擦拭的发生 </div>-->
                                            <!--<div class="col-xs-12 ui-cut-1 ui-color-gray ui-margin-t-5 ui-size-12 ui-margin-b-20">医生医生八错牙齿布擦拭的发生医生八错牙齿布擦拭的发生八错牙齿布擦拭的发生 </div>-->

                                            <!--<div class="col-xs-6 ui-size-12 ui-color-gray ui-cut-1 ui-margin-b-20 ">咨询师回复：<span class="ui-size-14 ui-bold ui-color-red">6</span></div>-->
                                            <!--<div class="col-xs-6 ui-size-12 text-right ui-margin-b-20"><a href="" class="ui-color-red">查看详情</a></div>-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-12 ui-border-gray-1 ui-margin-b-20">-->
                                            <!--<div class="col-xs-5 ui-size-12 ui-color-gray ui-margin-t-20">发布时间：2018-01-02 16:30</div>-->
                                            <!--<div class="col-xs-3 ui-size-12 ui-color-gray ui-cut-1 ui-margin-t-20">分类：立案问题</div>-->
                                            <!--<div class="col-xs-3 ui-size-12 ui-color-gray ui-cut-1 ui-margin-t-20"><i class="iconfont icon-shang ui-color-pink ui-size-18 ui-padding-r-5"></i>赏金：20元</div>-->
                                            <!--<div class="col-xs-1 ui-size-12 ui-color-gray ui-cut-1 ui-margin-t-20"><i class="iconfont icon-shanchu ui-size-14"></i></div>-->

                                            <!--<div class="col-xs-12 ui-cut-1 ui-margin-t-20 ui-bold">医生医生八错牙齿布擦拭的发生医生八错牙齿布擦拭的发生八错牙齿布擦拭的发生 </div>-->
                                            <!--<div class="col-xs-12 ui-cut-1 ui-color-gray ui-margin-t-5 ui-size-12 ui-margin-b-20">医生医生八错牙齿布擦拭的发生医生八错牙齿布擦拭的发生八错牙齿布擦拭的发生 </div>-->

                                            <!--<div class="col-xs-6 ui-size-12 ui-color-gray ui-cut-1 ui-margin-b-20 ">咨询师回复：<span class="ui-size-14 ui-bold ui-color-red">6</span></div>-->
                                            <!--<div class="col-xs-6 ui-size-12 text-right ui-margin-b-20"><a href="" class="ui-color-red">查看详情</a></div>-->
                                        <!--</div>-->
                                        <!--<div class="col-xs-12 ui-border-gray-1 ui-margin-b-20">-->
                                            <!--<div class="col-xs-5 ui-size-12 ui-color-gray ui-margin-t-20">发布时间：2018-01-02 16:30</div>-->
                                            <!--<div class="col-xs-3 ui-size-12 ui-color-gray ui-cut-1 ui-margin-t-20">分类：立案问题</div>-->
                                            <!--<div class="col-xs-3 ui-size-12 ui-color-gray ui-cut-1 ui-margin-t-20"><i class="iconfont icon-shang ui-color-pink ui-size-18 ui-padding-r-5"></i>赏金：20元</div>-->
                                            <!--<div class="col-xs-1 ui-size-12 ui-color-gray ui-cut-1 ui-margin-t-20"><i class="iconfont icon-shanchu ui-size-14"></i></div>-->

                                            <!--<div class="col-xs-12 ui-cut-1 ui-margin-t-20 ui-bold">医生医生八错牙齿布擦拭的发生医生八错牙齿布擦拭的发生八错牙齿布擦拭的发生 </div>-->
                                            <!--<div class="col-xs-12 ui-cut-1 ui-color-gray ui-margin-t-5 ui-size-12 ui-margin-b-20">医生医生八错牙齿布擦拭的发生医生八错牙齿布擦拭的发生八错牙齿布擦拭的发生 </div>-->

                                            <!--<div class="col-xs-6 ui-size-12 ui-color-gray ui-cut-1 ui-margin-b-20 ">咨询师回复：<span class="ui-size-14 ui-bold ui-color-red">6</span></div>-->
                                            <!--<div class="col-xs-6 ui-size-12 text-right ui-margin-b-20"><a href="" class="ui-color-red">查看详情</a></div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                                <nav aria-label="Page navigation" class="text-center" pagination="page"></nav>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-3">
                    <div><script class="user_count" type="text/html" src="../tmpl/user_count.html"></script></div>
                    <div class="ui-panel">
                        <div class="ui-panel-content ui-padding-t-10">
                            <ul class="ui-tool-list">
                                <li><a href="user_consult.html" title=""><i class="icon-mfflzx"></i><p class="ui-size-16">免费法律咨询<i class="icon-hot"></i></p><p class="ui-color-gray">有疑问？马上咨询吧</p></a></li>
                                <li><a href="user_case_entrusted.html" title=""><i class="icon-fbay"></i><p class="ui-size-16">发布案源</p><p class="ui-color-gray">我要打官司</p></a></li>
                                <li><a href="findlawyer.html" title=""><i class="icon-zls"></i><p class="ui-size-16">找律师</p><p class="ui-color-gray">含法律文书制作</p></a></li>
                            </ul>
                        </div>
                    </div>

                    <div><script class="user_reply" type="text/html" src="../tmpl/user_reply.html"></script></div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <script class="footer" type="text/html" src="../tmpl/footer.html"></script>
</footer>
<script data-main="../js/config.js" src="../js/libs/require.js"></script>
</body>
</html>