<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>阿里法律 - 企业会员充值</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="../img/favicon.ico" >
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/iconfont.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/img.css" rel="stylesheet">
</head>
<body>
<header>
    <div><script class="top" type="text/html" src="../tmpl/top.html"></script></div>
    <div><script class="header"  type="text/html" src="../tmpl/header.html"></script></div>
</header>
<div class="ui-content ui-padding-b-40">
    <div class="container ui-padding-tb-30">
        <div class="row">
            <div class="col-xs-2">
                <h4 class="ui-size-18">欢迎加入阿里法律</h4>
            </div>
            <div class="col-xs-10">
                <ul class="ui-steps-list">
                    <li class="ui-active"><i>1</i>选择注册类型</li>
                    <li class="ui-active"><i>2</i>填写注册信息</li>
                    <li class="ui-active"><i>3</i>会员充值</li>
                    <li><i>4</i>注册成功</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="ui-regpanel ui-padding-b-50">
            <div class="row">
                <div class="ui-vipform">
                    <form id="form" method="post">
                        <div class="row ui-margin-lr-40 ui-padding-b-50">
                            <div class="col-xs-12"><div class="ui-top-wrapper"><h3 class="ui-padding-tb-30 text-center ui-bold">企业会员注册</h3></div></div>
                            <div class="col-xs-12 ui-margin-tb-30 text-center">
                                <span class="ui-color-red ui-margin-lr-20 ui-padding-tb-20 ui-size-18">开通企业VIP会员</span>
                            </div>
                            <div class="col-xs-12">
                                <div class="row" style="width: 850px;margin: 0 auto">
                                    <div class="col-xs-4">
                                        <div class="ui-padding-30 ui-margin-lr-20 text-center ui-pointer j-viptype-btn active" data-viptype="1" data-amount="2000">
                                            <i class="ui-icon ui-icon-goldvip-big"></i>
                                            <div class="ui-bold ui-size-18 ui-margin-t-10">黄金会员</div>
                                            <hr/>
                                            <div class="ui-color-gray ui-size-20"><span class="ui-padding-r-10">¥</span><span class="ui-color-red j-amount-val">2000</span></div>
                                            <div class="ui-margin-t-10 j-year-select ui-noselect-txt">
                                                <i class="iconfont icon-subtraction ui-padding-r-10 ui-size-20 ui-color-gray j-sub"></i>
                                                <span class="ui-padding-r-10 j-year-val">1</span>年
                                                <i class="iconfont icon-add ui-padding-l-10 ui-size-20 ui-color-red j-add"></i>
                                            </div>
                                            <div class="ui-margin-t-10">
                                                <button class="j-kaitong-btn ui-kaitong-btn btn btn-block ui-btn-red ui-size-16">立即开通</button>
                                            </div>
                                            <div class="ui-size-12 ui-margin-t-30">全年不限量免费法律咨询</div>
                                            <div class="ui-size-12 ui-margin-t-10">交通事故律师费全免</div>
                                            <div class="ui-size-12 ui-margin-t-10">免费文书制作券<span class="ui-color-red j-coupon-num">4</span>张</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="ui-padding-30 text-center ui-border-1 ui-margin-lr-20 ui-pointer j-viptype-btn" data-viptype="2" data-amount="5000">
                                            <i class="ui-icon ui-icon-ptvip-big"></i>
                                            <div class="ui-bold ui-size-18 ui-margin-t-10">白金会员</div>
                                            <hr/>
                                            <div class="ui-color-gray ui-size-20"><span class="ui-padding-r-10">¥</span><span class="ui-color-red j-amount-val">5000</span></div>
                                            <div class="ui-margin-t-10 j-year-select ui-noselect-txt">
                                                <i class="iconfont icon-subtraction ui-padding-r-10 ui-size-20 ui-color-gray j-sub"></i>
                                                <span class="ui-padding-r-10 j-year-val">1</span>年
                                                <i class="iconfont icon-add ui-padding-l-10 ui-size-20 ui-color-red j-add"></i>
                                            </div>
                                            <div class="ui-margin-t-10">
                                                <button class="j-kaitong-btn ui-kaitong-btn btn btn-block ui-btn-red ui-size-16">立即开通</button>
                                            </div>
                                            <div class="ui-size-12 ui-margin-t-30">全年不限量免费法律咨询</div>
                                            <div class="ui-size-12 ui-margin-t-10">交通事故律师费全免</div>
                                            <div class="ui-size-12 ui-margin-t-10">免费文书制作券<span class="ui-color-red j-coupon-num">12</span>张</div>
                                        </div>
                                    </div>
                                    <div class="col-xs-4">
                                        <div class="ui-padding-30 text-center ui-border-1 ui-margin-lr-20 ui-pointer j-viptype-btn" data-viptype="3" data-amount="20000">
                                            <i class="ui-icon ui-icon-masonryvip-big"></i>
                                            <div class="ui-bold ui-size-18 ui-margin-t-10">钻石会员</div>
                                            <hr/>
                                            <div class="ui-color-gray ui-size-20"><span class="ui-padding-r-10">¥</span><span class="ui-color-red j-amount-val">20000</span></div>
                                            <div class="ui-margin-t-10 j-year-select ui-noselect-txt">
                                                <i class="iconfont icon-subtraction ui-padding-r-10 ui-size-20 ui-color-gray j-sub"></i>
                                                <span class="ui-padding-r-10 j-year-val">1</span>年
                                                <i class="iconfont icon-add ui-padding-l-10 ui-size-20 ui-color-red j-add"></i>
                                            </div>
                                            <div class="ui-margin-t-10">
                                                <button class="j-kaitong-btn ui-kaitong-btn btn btn-block ui-btn-red ui-size-16">立即开通</button>
                                            </div>
                                            <div class="ui-size-12 ui-margin-t-30">全年不限量免费法律咨询</div>
                                            <div class="ui-size-12 ui-margin-t-10">交通事故律师费全免</div>
                                            <div class="ui-size-12 ui-margin-t-10">免费文书制作券<span class="ui-color-red j-coupon-num">50</span>张</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <script class="footer" type="text/html" src="../tmpl/footer.html"></script>
</footer>
<script data-main="../js/config.js" src="../js/libs/require.js"></script>
</body>
</html>