<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>阿里法律 - 案件委托</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <link rel="shortcut icon" href="../img/favicon.ico" >
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/iconfont.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/img.css" rel="stylesheet">
</head>
<body>
<header>
    <div><script class="top" type="text/html" src="../tmpl/top.html"></script></div>
    <div><script class="header" type="text/html" src="../tmpl/header.html"></script></div>
</header>
<div class="ui-content ui-padding-b-40">
    <div class="container ui-padding-tb-30">
        <div class="ui-regpanel">
            <div class="row">
                <div class="col-xs-12">
                    <div class="ui-regform ui-padding-lr-80">
                        <form class="form-horizontal" id="form">
                            <div class="form-group ui-margin-b-20">
                                <div class="col-xs-12 ui-size-18"><img src="../img/img-flwszz.png" class="ui-margin-r-5" width="28" height="28">案件委托</div>
                            </div>

                            <div class="form-group ui-margin-b-30">
                                <label for="caseTitle" class="col-xs-1 control-label"><span class="ui-color-red ui-margin-r-5">*</span>标题：</label>
                                <div class="col-xs-11">
                                    <input type="text" name="caseTitle" class="form-control" id="caseTitle" placeholder="请输入案件标题（5-100个字符）" data-rule="案件标题:required;length(5~100, true)">
                                </div>
                            </div>

                            <div class="form-group ui-margin-b-30">
                                <label for="caseDesc" class="col-xs-1 control-label"><span class="ui-color-red ui-margin-r-5">*</span>案情：</label>
                                <div class="col-xs-11">
                                    <script id="caseDesc" name="caseDesc" type="text/plain" data-rule="案情:required"></script>
                                </div>
                            </div>

                            <div class="form-group ui-margin-b-30">
                                <label for="caseHope" class="col-xs-1 control-label">期望：</label>
                                <div class="col-xs-11">
                                    <input type="text" name="caseHope" class="form-control" id="caseHope" placeholder="请填写委托案件期望达到的处理结果" data-rule="期望:required;length(~200)">
                                </div>
                            </div>

                            <div class="form-group ui-margin-b-30">
                                <label for="caseAsk" class="col-xs-1 control-label">要求：</label>
                                <div class="col-xs-11">
                                    <input type="text" name="caseAsk" class="form-control" id="caseAsk" placeholder="请填写特殊要求，如:我想律师打电话主动联系我" data-rule="期望:required;length(~200)">
                                </div>
                            </div>

                            <div class="form-group ui-margin-b-30">

                                <label for="province_select" class="col-xs-1 control-label"><span class="ui-color-red ui-margin-r-5">*</span>地区：</label>
                                <div class="col-xs-2">
                                    <select class="form-control" name="province" data-rule="省份:required" id="province_select">
                                        <script id="province_tmpl" type="text/html">
                                            {{each data value i}}
                                            <option value="{{value.provinceId}}">{{value.provinceName}}</option>
                                            {{/each}}
                                        </script>
                                    </select>
                                </div>

                                <div class="col-xs-2">
                                    <select class="form-control" name="city" data-rule="城市:required" id="city_select" placeholder="请再次输入密码">
                                        <script id="city_tmpl" type="text/html">
                                            {{each data value i}}
                                            <option value="{{value.cityId}}">{{value.cityName}}</option>
                                            {{/each}}
                                        </script>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group ui-margin-b-30">
                                <label for="caseType" class="col-xs-1 control-label"><span class="ui-color-red ui-margin-r-5">*</span>类型：</label>
                                <div class="col-xs-4">
                                    <select class="form-control" name="caseType" id="caseType" data-rule="类型:required">
                                        <script id="case_tmpl" type="text/html">
                                            {{each data value i}}
                                            <option value="{{value.caseId}}">{{value.caseName}}</option>
                                            {{/each}}
                                        </script>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group ui-margin-b-30">
                                <label class="col-xs-1 control-label">证据：</label>
                                <div class="col-xs-11 ui-margin-b-10">
                                    <section class=" img-section">
                                        <div class="z_photo upimg-div clear" >
                                            <section class="z_file fl">
                                                <input type="file" id="file" class="file" value="" accept="image/jpg,image/jpeg,image/png,image/bmp" multiple />
                                            </section>
                                        </div>
                                    </section>
                                </div>
                                <div class="col-xs-offset-1 col-xs-11">
                                    <div class="ui-size-12 ui-color-gray"><i class="iconfont icon-deng"></i>您可上传与咨询问题相关的证据照片供咨询师参考，图片文件后缀支持jpg、png、gif、jpeg格式，单张图片大小建议在4M以下，最多可上传50张照片！</div>
                                </div>
                            </div>

                            <div class="form-group ui-margin-b-30">
                                <label class="col-xs-1 control-label"><span class="ui-color-red ui-margin-r-5">*</span>报价：</label>
                                <div class="col-xs-11">
                                    <label class="radio-inline ui-padding-t-no">
                                        <input type="radio" name="offerType" value="1" class="ui-margin-t-13" checked>
                                        <input type="text" class="form-control" name="offerMoney">
                                    </label>
                                    <label class="radio-inline ui-padding-t-no">
                                        <input type="radio" name="offerType" value="2">面议
                                    </label>
                                </div>
                            </div>

                            <div class="form-group ui-margin-b-30">
                                <label for="mobile" class="col-xs-1 control-label"><span class="ui-color-red ui-margin-r-5">*</span>手机：</label>
                                <div class="col-xs-4">
                                    <input type="text" name="mobile" class="form-control" id="mobile" placeholder="请输入正确手机号，以便快速解决您的问题！" data-rule="手机:required;mobile">
                                </div>
                            </div>

                            <div class="form-group ui-margin-b-30">
                                <div class="col-xs-offset-1 col-xs-2">
                                    <button type="submit" class="btn btn-block ui-btn-red">发布</button>
                                </div>
                                <div class="col-xs-1">
                                    <button type="submit" class="btn btn-block btn-link ui-color-gray">返回</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <script class="footer" type="text/html" src="../tmpl/footer.html"></script>
</footer>
<script data-main="../js/config.js" src="../js/libs/require.js"></script>
</body>
</html>