<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>阿里法律 - 工作动态</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="../img/favicon.ico">
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/iconfont.css" rel="stylesheet">
    <link href="../css/swiper.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/home.css" rel="stylesheet">
</head>

<body>
    <header>
        <div>
            <script class="home_header" type="text/html" src="../tmpl/home_header.html"></script>
        </div>
    </header>
    <div class="ui-content ui-about-wrapper" style="background: url('../img/home-top.png');padding: 200px 0;">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="ui-content ui-padding-b-40 ui-padding-t-30 ui-bg-white">
        <div class="container ">
            <div class="ui-padding-b-no">
                <div class="row">
                    <div class="col-xs-9">
                        <div class="ui-home-center">
                            <div class="ui-home-center-title">
                                <h4>工作动态</h4>
                            </div>
                            <div class="ui-home-center-content">
                                <div class="ui-caselist">
                                    <div class="ui-homeworks">
                                        <div class="row">
                                            <div class="col-xs-5">
                                                <div class="ui-homeworks-left">
                                                    <script id="workLeftTmpl" type="text/html">
                                                        {{if (getLength(rows) > 0)}} {{each rows value i}}
                                                        <div class="ui-img-adaptive-width ui-height-240 ui-bg-gray"><img src="../img/demo-home-work.png" alt="{{value.title}}"></div>
                                                        <div class="ui-homeworks-left-title">近期重点工作</div>
                                                        <div class="ui-homeworks-left-year">{{value.sendTime | subYear}}</div>
                                                        <div class="ui-homeworks-left-month">{{value.sendTime | subMonthDay}}</div>
                                                        <div class="ui-homeworks-left-titlec">{{value.title}}</div>
                                                        <div class="ui-homeworks-left-content ui-cut-6 ui-height-150">{{value.articleContent | removeHtmlTag}}</div>
                                                        <div class="text-right ui-margin-t-30"><a href="home_work.html?articleId={{value.articleId}}&userId={{value.userId}}" class="ui-decoration-no ui-hover"><i class="iconfont icon-right ui-size-36 ui-color-gray"></i></a></div>
                                                        {{/each}} {{else}}
                                                        <div class="ui-color-gray">暂无内容</div>
                                                        {{/if}}
                                                    </script>
                                                </div>
                                            </div>
                                            <div class="col-xs-7" id="workList">
                                                <script id="workListTmpl" type="text/html">
                                                    {{if (getLength(rows) > 0)}} {{each rows value i}}
                                                    <div class="ui-homeworks-right-row">
                                                        <div>
                                                            <div><span class="ui-color-darkgray"><a href="home_work.html?articleId={{value.articleId}}&userId={{value.userId}}" class="ui-color-darkgray">{{value.title}}</a></span><span class="ui-right ui-color-gray2">{{value.sendTime | subDay}}</span></div>
                                                            <div class="ui-cut-2 ui-margin-tb-10 ui-size-12 ui-color-gray2 ui-line-height-20 ui-height-40"><a href="home_work.html?articleId={{value.articleId}}&userId={{value.userId}}" class="ui-color-gray2">{{value.articleContent | removeHtmlTag}}</a></div>
                                                            <div class="ui-right"><a href="home_work.html?articleId={{value.articleId}}&userId={{value.userId}}" class="ui-color-gray2 ui-size-12">>></a></div>
                                                        </div>
                                                    </div>
                                                    {{/each}} {{else}}
                                                    <div class="ui-color-gray text-center">{{error || '暂无内容'}}</div>
                                                    {{/if}}
                                                </script>
                                                <nav aria-label="Page navigation" class="text-center" pagination="page"></nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-3">
                        <script class="home_right" type="text/html" src="../tmpl/homeRight.html"></script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <script class="footer" type="text/html" src="../tmpl/footer.html" data-color="black"></script>
    </footer>
    <script data-main="../js/config.js" src="../js/libs/require.js"></script>
</body>

</html>