<!DOCTYPE html>
<html class="MyWatching2">

	<head>
		<meta charset="UTF-8">
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>我的关注</title>
		<link rel="stylesheet" href="mui/mui.min.css" />
		<link rel="stylesheet" href="vue/vant-min.css" />
		<link rel="stylesheet" href="css/main.css" />
		<script src="js/jquery.min.js"></script>
		<style>
			.mui-control-content {
				height: -webkit-fill-available;
				height: -moz-fill-available;
				height: -moz-available;    /* FireFox目前这个生效 */
				height: fill-available;;
			}
		</style>
	</head>

	<body class="Lawsearch Lawask MyWatching2">
		<!--公共头部 begin-->
		<div class="header">
			<div class="goback">
				<a class="mui-action-back mui-icon mui-icon-back"  href="javascript:history.back(-1);"></a>
			</div>
			<h2>我的关注</h2>
			<div class="goback msgcenter">
				<a href=""><img src="images/myinfo/order-msg.png" alt="" /></a>
			</div>
		</div>
		<!--公共头部 end-->

		<!--主体 begin-->
		<div class="Conter idx-band5" id="app">
			<div class="newsBox-tit flex_Horizontal mui-segmented-control">
				<a class="mui-control-item mui-active" href="#newAsk">咨询过的咨询师</a>
				<a class="mui-control-item" href="#newCase">我收藏的咨询师</a>
				<a class="mui-control-item" href="#Catigory">我浏览的咨询师</a>
			</div>
			<div class="newsBox page-slideright">
				<div id="newAsk" class="mui-control-content mui-active">
					<div id="list1" class="mui-content mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul style="background: #f4f4f4">
								<li class="flex_Horizontal" v-for="(item, index) in list1List" :key="index">
									<div class="left">
										<img :src="item.userImg" />
										<a href="">{{item.isfollow}}</a>
									</div>
									<div class="right">
										<div class="t">
											<span>{{item.realName}}</span>
											<div class="iconbox">
												<img
														v-if="item.vipLevel > 0"
														:src="'images/other/mywatch-lv'+userInfo.vipLevel+'.png'"
												/>
												<img
														v-if="item.is_contract == 1"
														src="images/other/mywatch-wb.png"
												/>
												<img
														v-if="item.isAuthentication == 1"
														src="images/other/mywatch-rz.png"
												/>
											</div>
										</div>
										<div class="c">
											<p v-if="item.specialityTypeName && item.specialityTypeName.length > 0" class="greyfont ui-color-greengray">
												<span v-for="(item, index) in item.specialityTypeName" :key="index" style="display: inline-block;width: auto">{{item}}</span>
											</p>
											<p v-else class="greyfont ui-color-greengray">无</p>
										</div>
										<div class="c">
											<p class="greyfont ui-color-greengray">解答咨询：{{item.complateAdviceNum || 0}}｜接收委托：{{item.entrustNum || 0}}</p>
										</div>
									</div>
								</li>
								<li v-if="list1IsNot" class="ui-nolist">没有找到数据</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="newCase" class="mui-control-content">
					<div id="list2" class="mui-content mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul style="background: #f4f4f4">
								<li class="flex_Horizontal" v-for="(item, index) in list2List" :key="index">
									<div class="left">
										<img :src="item.userImg" />
										<a href="">{{item.isfollow}}</a>
									</div>
									<div class="right">
										<div class="t">
											<span>{{item.realName}}</span>
											<div class="iconbox">
												<img
														v-if="item.vipLevel > 0"
														:src="'images/other/mywatch-lv'+userInfo.vipLevel+'.png'"
												/>
												<img
														v-if="item.is_contract == 1"
														src="images/other/mywatch-wb.png"
												/>
												<img
														v-if="item.isAuthentication == 1"
														src="images/other/mywatch-rz.png"
												/>
											</div>
										</div>
										<div class="c">
											<p v-if="item.specialityTypeName && item.specialityTypeName.length > 0" class="greyfont ui-color-greengray">
												<span v-for="(item, index) in item.specialityTypeName" :key="index" style="display: inline-block;width: auto">{{item}}</span>
											</p>
											<p v-else class="greyfont ui-color-greengray">无</p>
										</div>
										<div class="c">
											<p class="greyfont ui-color-greengray">解答咨询：{{item.complateAdviceNum || 0}}｜接收委托：{{item.entrustNum || 0}}</p>
										</div>
									</div>
								</li>
								<li v-if="list2IsNot" class="ui-nolist">没有找到数据</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="Catigory" class="mui-control-content">
					<div id="list3" class="mui-content mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul style="background: #f4f4f4">
								<li class="flex_Horizontal" v-for="(item, index) in list3List" :key="index">
								<div class="left">
									<img :src="item.userImg" />
									<a href="">{{item.isfollow}}</a>
								</div>
								<div class="right">
									<div class="t">
										<span>{{item.realName}}</span>
										<div class="iconbox">
											<img
													v-if="item.vipLevel > 0"
													:src="'images/other/mywatch-lv'+userInfo.vipLevel+'.png'"
											/>
											<img
													v-if="item.is_contract == 1"
													src="images/other/mywatch-wb.png"
											/>
											<img
													v-if="item.isAuthentication == 1"
													src="images/other/mywatch-rz.png"
											/>
										</div>
									</div>
									<div class="c">
										<p v-if="item.specialityTypeName && item.specialityTypeName.length > 0" class="greyfont ui-color-greengray">
											<span v-for="(item, index) in item.specialityTypeName" :key="index" style="display: inline-block;width: auto">{{item}}</span>
										</p>
										<p v-else class="greyfont ui-color-greengray">无</p>
									</div>
									<div class="c">
										<p class="greyfont ui-color-greengray">解答咨询：{{item.complateAdviceNum || 0}}｜接收委托：{{item.entrustNum || 0}}</p>
									</div>
								</div>
							</li>
							<li v-if="list3IsNot" class="ui-nolist">没有找到数据</li>
						</ul>
					</div>
				</div>
				</div>
			</div>
		</div>
		<!--主体 end-->

		<!--<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
		</div>-->
		<script src="mui/mui.min.js"></script>
		<script src="vue/vue.js"></script>
		<script src="js/store.js"></script>
		<script src="js/rest.js"></script>
		<script src="js/utils.js"></script>
		<script src="js/ajax/commonfuc.js"></script>
		<script src="js/mui.slideright.js"></script>
		<script src="js/lib/MyWatching2.js"></script>
	</body>

</html>