<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
    <title>案源详情</title>
    <link href="mui/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="fonts/iconfont.css" rel="stylesheet" type="text/css" />
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/imgzoom.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.min.js"></script>
    <!-- <script src="js/jquery.cookie.min.js"></script> -->
    <style type="text/css">
        #pullrefresh {
            top: 1.44rem;
            bottom: 1.44rem
        }
    </style>
</head>

<body class="Lawsearch Alicaipan page-slideright">
    <div id="app" class="lawbuyDatail">
        <!--公共头部 begin-->
        <div class="header">
            <div class="goback">
                <a class="mui-action-back mui-icon mui-icon-back" href="javascript:void(0);" onclick="javascript:history.back(-1);"></a>
            </div>
            <h2>案源详情</h2>
        </div>
        <!--公共头部 end-->

        <!--主体 begin--> 
        <div class="Conter lc-conter">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell mui-media">
                    <!-- <img class="mui-media-object mui-pull-left" :src="articleData.userImg | createImgUrl" @error="setErrorImg"> -->
                    <img class="mui-media-object mui-pull-left" src="images/index/moren.png" @error="setErrorImg">
                    <div class="mui-media-body ui-color-greengray">
                        <p class=" mui-ellipsis ui-color-greengray ui-padding-b-3">{{articleData.userName  | hidename }}</p>
                        <p class="sm-tt mui-ellipsis ui-color-greengray ui-border-b1 ui-padding-b-4"><span>{{articleData.deputeTime | formatDate }}</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span>{{articleData.caseTypeName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;<span>{{articleData.provinceName}}{{articleData.cityName}}</span></p>
                        <p class="mui-ellipsis ll-titel ui-margin-t-4"><span class="ui-size-58 ui-color-black">{{articleData.caseTitle}}</span></p>

                        <p class=" ui-color-greengray ui-border-b1 ui-padding-b-4 "    ><span class="ui-artice-content" v-html="articleData.caseDesc"></span></p>

                        <p class="mui-ellipsis ui-color-greengray ui-margin-b-3 ui-margin-t-4"><span class="ui-bold">期望</span></p>
                        <p class=" ui-color-greengray ui-border-b1 ui-padding-b-4"><span class="ui-artice-content" v-html="articleData.caseHope"></span></p>

                        <p class="mui-ellipsis ui-color-greengray ui-margin-b-3 ui-margin-t-4"><span class="ui-bold">要求</span></p>
                        <p class=" ui-color-greengray ui-border-b1 ui-padding-b-4"><span class="ui-artice-content" v-html="articleData.caseAsk"></span></p>

                        <p v-if="articleData.caseImgs" class="mui-ellipsis ui-color-greengray ui-margin-b-3 ui-margin-t-4"><span class="ui-bold">证据</span></p>
                        <div v-if="articleData.caseImgs" class=" ui-color-greengray ui-padding-b-4">
                            <ul class="ui-imglist ui-imglist-3">
                                <li v-for="img in articleData.caseImgs"><img :src="img | createImgUrl" alt="" class="ui-docimg ui-bg-gray" data-preview-src="" data-preview-group="2"></li>
                            </ul>
                        </div>

                        <p class=" ui-color-greengray  ui-padding-b-4 top-s">
                            <span class="ui-artice-content" v-if="articleData.offerType == '2'">报价：面议</span>
                            <span class="ui-artice-content" v-else-if="articleData.offerType != '2'">报价：{{articleData.offerMoney}}元</span>
                        </p>

                        <p class=" ui-color-greengray ui-padding-b-4"><span class="ui-artice-content">竞拍人数：<span class="ui-color-pink">{{articleData.counts}}</span></span>
                        </p>

                    </div>
                </li>
            </ul>
            <div id="pullrefresh" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell mui-media" v-for="(value, index) in list" :key="index">
                            <img class="mui-media-object mui-pull-left" :src="value.userImg | createImgUrl" @error="setErrorImg">
                            <div class="mui-media-body">
                                <div class="mui-ellipsis ui-padding-b-3 ui-inline-block" style="font-size: .5rem">{{value.userName}}
                                    <div class="ui-iconbox ui-inline-block">
                                        <img class="ui-inline-block" src="images/myinfo/level1.png" v-if="value.vipLevel == '1'" />
                                        <img class="ui-inline-block" src="images/myinfo/level2.png" v-else-if="value.vipLevel == '2'" />
                                        <img class="ui-inline-block" src="images/myinfo/level3.png" v-else-if="value.vipLevel == '3'" />

                                        <img class="ui-inline-block" v-if="value.is_contract == 1" src="images/other/mywatch-wb.png" />
                                        <img class="ui-inline-block" v-if="value.isAuthentication == 1" src="images/other/mywatch-rz.png" />
                                    </div>
                                </div>
                                <p class="ui-line-height-25 ui-padding-b-3">
                                    <span class="ui-size-14 ui-padding-lr-50">电话：{{value.mobile}}</span> | <span class="ui-size-14">报价：<span class="ui-color-red ui-size-14">{{value.offerMoney}}</span></span>
                                    </h4>
                                </p>

                                <p class="ui-line-height-25 ui-padding-b-3">
                                    <span class="ui-color-gray ui-bold">预期效果：</span>{{value.effect}}
                                </p>
                                <p class="ui-padding-b-30 ui-line-height-25 ui-padding-b-3">
                                    <span class="ui-color-gray ui-bold">解决思路：</span>{{value.thinking}}
                                </p>

                                <div><span class="ui-color-greengray">{{value.offerTime | dateDiff}}</span>
                                    <div class="ui-right" v-if="caseState != 2" @click="pinQing(value.userId, value.replyId)"><button type="button" style="background: #ff8d87;font-size: .4rem;display: inline-block;color: white;border: none;padding: .1rem;margin-top: .3rem;margin-left: .3rem">聘请ta</button></div>
                                    <div class="ui-right" v-if="caseState != 2" @click="reply(value.userId, value.replyId)"><i class="iconfont icon-pinglun ui-color-pink" style="font-size: .9rem"></i></div>
                                </div>

                                <div v-if="null != value.nextReplyData && value.nextReplyData.length > 0">
                                    <ul class="mui-table-view">
                                        <li class="mui-table-view-cell mui-media" v-for="(nextValue, nextIndex) in value.nextReplyData" :key="nextIndex">
                                            <img class="mui-media-object mui-pull-left" :src="authorUserImg | createImgUrl" @error="setErrorImg">
                                            <div class="mui-media-body">
                                                <p class="mui-ellipsis ui-padding-b-3">{{authorUserName}}
                                                    <!--<div class="ui-iconbox ui-inline-block" style="">-->
                                                    <!--<img src="images/myinfo/level1.png" v-if="value.vipLevel == '1'"/>-->
                                                    <!--<img src="images/myinfo/level2.png" v-else-if="value.vipLevel == '2'"/>-->
                                                    <!--<img src="images/myinfo/level3.png" v-else-if="value.vipLevel == '3'"/>-->
                                                    <!---->
                                                    <!--<img v-if="value.is_contract == 1" src="images/other/mywatch-wb.png" />-->
                                                    <!--<img v-if="value.isAuthentication == 1" src="images/other/mywatch-rz.png"/>-->
                                                    <!--</div>-->
                                                </p>
                                                <p class="">{{nextValue.replyContent}}</p>
                                                <div><span class="ui-color-greengray">{{nextValue.replyTime | dateDiff}}</span></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li v-if="isNoList" class="ui-nolist">暂无留言</li>
                    </ul>
					
                </div> 
            </div>
        </div>

        <div class="footer" v-if="isShowJingPaiBtn == true">
        <!-- <div class="footer"  > -->
            <div class="mui-content ui-border-t1 ui-margin-t-4 ">
                <div class="mui-row">
                    <div class="mui-col-xs-12 ui-text-center">
                        <button type="button" class="mui-btn mui-btn-danger ui-margin-t-3 ui-width-90p" @click="levelOneReply">我要评论</button>
                    </div>
                </div>
            </div>
        </div>
		<!-- <div>{{ isAuthenticationUser }}</div>
		<div>{{ userType }}</div> -->
        <!-- <div v-if="isAuthenticationUser == 2 && userType==2" class="lawbuyInfo"> -->
		 
        <div v-if="userType == 2 " class="lawbuyInfo">
        <!-- <div  class="lawbuyInfo"> -->
        <!-- <div   class="lawbuyInfo">	 -->
            <!-- <div class="news-tool">
                <button @click="jinPai">我要竞拍</button>
            </div> -->
			<div class="zixun-btn">
				<div class="news-tool"  @click="jinPai">我要竞拍 </div>
			</div>
        </div> 
    </div>

    <!--主体 end-->
    <script src="vue/vue.js"></script>
    <script src="mui/mui.min.js"></script>
    <script src="mui/mui.zoom.js"></script>
    <script src="js/share.js"></script>
    <script src="mui/mui.previewimage.js"></script>
    <script src="vue/vant-min.js"></script>
    <script src="js/store.js"></script>
    <script src="js/rest.js"></script>
    <script src="js/utils.js"></script>
    <script src="js/ajax/commonfuc.js"></script>
    <script src="js/mui.slideright.js"></script>
    <script src="js/lib/Lawbuy-Info.js"></script>
</body>

</html>