<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>文书制作券</title>
		<link rel="stylesheet" href="mui/mui.min.css" />
		<link rel="stylesheet" href="vue/vant-min.css" />
		<link rel="stylesheet" href="css/main.css" />
		<style>
			.mui-control-content {
				height: -webkit-fill-available;
				height: -moz-fill-available;
				height: -moz-available;    /* FireFox目前这个生效 */
				height: fill-available;;
			}
		</style>
		<script src="js/jquery.min.js"></script>
	</head>

	<body class="Lawsearch Lawask Myyouhuiquan">
		<!--公共头部 begin-->
		<div class="header">
			<div class="goback">
				<a class="mui-action-back mui-icon mui-icon-back" href="javascript:void(0);" onclick="javascript:history.back(-1);"></a>
			</div>
			<h2>文书制作券</h2>
		</div>
		<!--公共头部 end-->

		<!--主体 begin-->
		<div class="Conter idx-band5" id="app" v-cloak>
			<div class="newsBox-tit flex_Horizontal mui-segmented-control">
				<a class="mui-control-item mui-active" href="#newAsk">未使用<span>{{notused_count}}</span></a>
				<a class="mui-control-item" href="#newCase">已使用<span>{{used_count}}</span></a>
				<a class="mui-control-item" href="#Catigory">已过期<span>{{expired_count}}</span></a>
			</div>
			<div class="newsBox page-slideright">
				<div id="newAsk" class="mui-control-content mui-active">
					<div id="list1" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view">
								<li v-for="(item, index) in list1List" :key="index">
									<div class="l">
										<h2><span>1</span>张</h2>
										<p>文书制作券</p>
									</div>
									<div class="c">
										<p class="name">{{item.voucherDesc}}</p>
										<div class="time">
											<p>有效期至：<span>{{item.endTime | subDay}}</span></p>
											<!-- <p>使用日期：<span>2018-06-27</span></p> -->
										</div>
									</div>
									<div class="r">
										<div class="status3"><a href="">立即使用</a></div>
									</div>
								</li>
								<li v-if="list1IsNot" class="ui-nolist">没有找到数据</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="newCase" class="mui-control-content">
					<div id="list2" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view">
								<li v-for="(item, index) in list2List" :key="index">
									<div class="l">
										<h2><span>1</span>张</h2>
										<p>文书制作券</p>
									</div>
									<div class="c">
										<p class="name">{{item.voucherDesc}}</p>
										<div class="time">
											<p>有效期至：<span>{{item.endTime | subDay}}</span></p>
											<p>使用日期：<span>{{item.startTime | subDay}}</span></p>
										</div>
									</div>
									<div class="r">
										<div class="status1">已使用</div>
									</div>
								</li>
								<li v-if="list2IsNot" class="ui-nolist">没有找到数据</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="Catigory" class="mui-control-content">
					<div id="list3" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view">
								<li v-for="(item, index) in list3List" :key="index">
									<div class="l">
										<h2>文书</h2>
										<p>制作券</p>
									</div>
									<div class="c">
										<p class="name">{{item.voucherDesc}}</p>
										<div class="time">
											<p>有效期至：<span>{{item.endTime | subDay}}</span></p>
											<!-- <p>好可惜，还没使用就过期了~</p> -->
										</div>
									</div>
									<div class="r">
										<div class="status2">已过期</div>
									</div>
								</li>
								<li v-if="list3IsNot" class="ui-nolist">没有找到数据</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--主体 end-->

		<!--<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
		</div>-->
		<script src="js/store.js"></script>
		<script src="js/rest.js"></script>
		<script src="js/utils.js"></script>
		<script src="mui/mui.min.js"></script>
		<script src="vue/vue.js"></script>
		<script src="js/ajax/ajax.js"></script>
		<script src="js/ajax/commonfuc.js"></script>
		<script src="js/mui.slideright.js"></script>
		<script src="js/lib/Myyouhuiquan.js"></script>
	</body>

</html>