<!DOCTYPE html>
<html class="MyZhaopin">

	<head>
		<meta charset="UTF-8">
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no">
		<title>我的招聘</title>
		<link rel="stylesheet" href="mui/mui.min.css" />
		<link rel="stylesheet" href="vue/vant-min.css" />
		<link rel="stylesheet" href="css/main.css" />
		<script src="js/jquery.min.js"></script>
		<style>
			.mui-control-content {
				height: -webkit-fill-available;
				height: -moz-fill-available;
				height: -moz-available;    /* FireFox目前这个生效 */
				height: fill-available;;
			}
		</style>
	</head>

	<body class="Lawsearch Lawask MyZhaopin">
		<!--公共头部 begin-->
		<div class="header">
			<div class="goback">
				<a class="mui-action-back mui-icon mui-icon-back" href="javascript:void(0);" onclick="javascript:history.back(-1);"></a>
			</div>
			<h2>我的招聘</h2>
		</div>
		<!--公共头部 end-->

		<!--主体 begin-->
		<div class="Conter idx-band5" id="app" v-cloak>
			<div class="newsBox-tit flex_Horizontal mui-segmented-control">
				<a class="mui-control-item mui-active" href="#newAsk">收到的简历</a>
				<a class="mui-control-item" href="#newCase">收藏的简历</a>
			</div>
			<div class="newsBox page-slideright">
				<div id="newAsk" class="mui-control-content mui-active">
					<div id="collecResumeList" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view">
								<li v-for="(item, index) in collecResumeList" :key="index">
									<a :href="'Jianli.html?userId=' + item.userId">
										<div class="left">
											<img  :src="item.userImg | createImgUrl" @error="setErrorImg"/>
										</div>
										<div class="right">
											<div class="t">
												<h2>{{item.resumeName}}</h2>
												<span class="deletebtn" :data-collectionid="item.collectionId"></span>
											</div>
											<div class="b">
												<section>
													<p>专业：<span>{{item.major}}</span></p>
													<p>从业年限：<span>{{item.workExperience}}年</span></p>
												</section>
												<section>
													<p>学历：<span>{{item.qualificationName}}</span></p>
													<p>所在地区：<span>{{item.provinceName}}{{item.cityName}}</span></p>
												</section>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div id="newCase" class="mui-control-content">
					<div id="collectionResumeList" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view">
							<li v-for="(item, index) in collectionResumeList" :key="index">
								<a :href="'Jianli.html?userId=' + item.userId">
									<div class="left">
										<img :src="item.userImg | createImgUrl" @error="setErrorImg"/>
									</div>
									<div class="right">
										<div class="t">
											<h2>{{item.userName}}</h2>
											<span class="deletebtn" :data-collectionid="item.collectionId"></span>
										</div>
										<div class="b">
											<section>
												<p>专业：<span>{{item.major}}</span></p>
												<p>从业年限：<span>{{item.workExperience}}年</span></p>
											</section>
											<section>
												<p>学历：<span>{{item.qualificationName}}</span></p>
												<p>所在地区：<span>{{item.provinceName}}{{item.cityName}}</span></p>
											</section>
										</div>
									</div>
								</a>
							</li>
						</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--主体 end-->
		<script src="mui/mui.min.js"></script>
		<script src="js/store.js"></script>
		<script src="js/rest.js"></script>
		<script src="js/utils.js"></script>
		<script src="vue/vue.js"></script>
		<script src="js/ajax/ajax.js"></script>
		<script src="js/ajax/commonfuc.js"></script>
		<script src="js/mui.slideright.js"></script>
		<script src="js/lib/MyZhaopin.js"></script>
	</body>

</html>